@font-face {
  font-family: 'CustomFont';
  src: url('<link rel="preconnect" href="https://fonts.googleapis.com">') format('woff2'),
       url('<link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">') format('woff'),
       url('<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>');
}

.logo{
	height: 70px;
	width:70px;
  border-radius: 60%;
}
.container-xxl{
	height: auto;
  background-color: #FEFEFE;
}
.navbar{
  background-color: #2a2a2a;
}
.srch-btn{
  color: #51dacf;
}
.cours-div {
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cours-div img{
     height: 100%;
     width: 100%;
}
.dropdown-menu li a{
  color: black;
}
.nav-item a{
  color: white;
}
/*corel22*/
.carousel1 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-inner1 {
  background-color: transparent;
  margin: 10px 0px;
  padding: 10px;
  display: flex;
  width: 300%;
  animation: carouselSlide 20s infinite;
}

.carousel1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes carouselSlide {
  0% {
    transform: translateX(0);
  }
  20.33% {
    transform: translateX(-20%);
  }
  40% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-60%);
  }
  80%{
    transform: translateX(-67%);
  }
  100% {
    transform: translateX(0);
  }
}
.card{
  margin-right: 15px;
}

.foot-div{
  background-color: #2a2a2a;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: #51dacf;
  text-align: center;
}
.foot-div ul{
   padding: 0px;
   list-style-type: none;
   text-align: center;
}
.foot-div li a{
  text-decoration: none;
  color: #51dacf;
  display: inline-block;
  padding: 5px 29px;
}
.foot-div h4{
    font-family: 'Caprasimo', cursive;
}
